<div class="noquestion">
      <img src="
      /images/ilustracao.svg" alt="Nao ha perguntas">

      <p class="bold">Nenhuma pergunta por aqui...</p>
      <p>Faça sua primeira pergunta e envie o código dessa sala para outras pessoas!</p>
</div>
  